.*
!/.bowerrc
bower.json~
!/.gitignore
!/.travis.yml
/output/Test.Main/
/output/DemoApp.WithRactive/
/node_modules/
/bower_components/
/tmp/
html/js/demo.js
html/templates/tut*/content.html
demo/scripts/bundle.js
/dist/
/.pulp.cache/
/.psci_modules/
/Test/
